body{
	background-color: #000;	
  	cursor: url('../images/splatoon2/splatoon2_orange_squid.cur'), auto;
  	color: #fff;	
}
a{
	color: #fff;
	text-decoration: none;
}
a:hover{
	color: #fff;
	text-decoration: none;
	cursor: url('../images/splatoon2/splatoon2_reticle_green.cur'), auto;	
}
a::selection{
	cursor: url('../images/splatoon2/splatoon2_orange_squid_alternate.cur'), auto;
}

.background{
	background-color: #000;
}

.welcome_message{
	color: #fff;
	font-size: 40px;
	text-align: center;
	width: 100%;
}

.header .title{
	width: 100%;
	text-align: center;
	font-size: 40px;
	margin: auto;
	padding: 20px 0px 20px;
}

.menu{
	width: 100%;
	max-width: 960px;
	padding: 20px;
	margin: auto;
	text-align: center;
}

.menu_item{
	text-decoration: none;
	width: 200px;
	color: #ddd;
	display: inline-block;
	padding: 15px 10px 15px;
	background-image: url('../images/splatoon2/splatoon2_textbox_bg.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.content{
	padding: 30px;
}

.title{
	font-size: 30px;
	color: #fff;
	padding-bottom: 20px;
}
.schedules_table{
	width: 100%;
}
.schedules_column{
	width: 33%;
	float: left;
	display: inline-block;
	border: 1px solid #fff;
}
.schedules_mode{
	font-size: 24px;
	color: IndianRed;
	padding: 10px;
}

.schedules_mode .regular{

}
.schedules_mode .gachi{

}
.schedules_mode .league{

}

.schedules_item{
	border: 1px solid #fff;
	padding: 20px 10px 20px;
}
.schedules_time{
	font-size: 24px;
	color: pink;
}
.schedules_rules{
	/*color: Lightgreen;*/
}
.schedules_maps{
	color: Lightyellow;
}
.schedules_maps_image{
	padding-bottom: 20px;
}
.schedules_maps_image img{
	width: 100%;
}



.results_table{
	width: 100%;
}
.results_column{
	width: 100%;
}
.results_mode{
	font-size: 24px;
	padding: 10px 0px;
}

.results_mode .regular{

}
.results_mode .gachi{

}
.results_mode .league{

}

.results_result_victory{
	color: IndianRed;
}
.results_result_lose{
	color: green;
}

.results_item{
	border: 1px solid #fff;
	padding: 20px;
}
.results_item:nth-child(1){
	border-right: none;
}
.results_item:nth-child(2){
	border-left: none;
}

.results_time{
	font-size: 24px;
	color: pink;
}
.results_rules{
	/*color: Lightgreen;*/
}
.results_maps{
	color: Lightyellow;
}
.results_maps_name{
	padding: 0px 0px 20px;
}
.results_maps_image{
	padding-bottom: 20px;
}
.results_maps_image img{
	width: 100%;
}


.results_detail_item{
	border: 1px solid #fff;
	padding: 20px;
}
/*.results_detail_item:nth-child(2){
	border-right: none;
}
.results_detail_item:nth-child(3){
	border-left: none;
}*/


@media (max-width: 575px){
	.results_item:nth-child(1){
		border: 1px solid #fff;
		border-bottom: none;
	}
	.results_item:nth-child(2){
		border: 1px solid #fff;
		border-top: none;
	}
}